<div class="dashboard-container">
  <aside class="sidebar">

    <div class="sidebar-header">
      <img src="assets/logo.jpg" alt="Logo Mucuri" />
      <h1>Projeto Mucuri</h1>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="associados" routerLinkActive="active-link">Associados</a>
        </li>
        <li>
          <a routerLink="doacoes" routerLinkActive="active-link">Doações</a>
        </li>
        <li>
          <a routerLink="voluntarios" routerLinkActive="active-link">Voluntários</a>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <a routerLink="perfil" routerLinkActive="active-link">Meu Perfil</a>
      <a (click)="sair()">Sair</a>
    </div>

  </aside>

  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

</div>